:root {
    --rosewater: #f4dbd6;
    --flamingo: #f0c6c6;
    --pink: #f5bde6;
    --mauve: #c6a0f6;
    --red: #ed8796;
    --maroon: #ee99a0;
    --peach: #f5a97f;
    --yellow: #eed49f;
    --green: #a6da95;
    --teal: #8bd5ca;
    --sky: #91d7e3;
    --sapphire: #7dc4e4;
    --blue: #8aadf4;
    --lavender: #b7bdf8;
    --text: #cad3f5;
    --subtext1: #b8c0e0;
    --subtext0: #a5adcb;
    --overlay2: #939ab7;
    --overlay1: #8087a2;
    --overlay0: #6e738d;
    --surface2: #5b6078;
    --surface1: #494d64;
    --surface0: #363a4f;
    --base: #24273a;
    --mantle: #1e2030;
    --crust: #181926;
    --accent: var(--lavender);
}

::selection {
    background-color: var(--accent);
    color: black;
}

body {
    color: var(--text);
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: conic-gradient(
        var(--mantle) 90deg,
        var(--base) 90deg 180deg,
        var(--mantle) 180deg 270deg,
        var(--base) 270deg
    );
    background-repeat: repeat;
    background-size: 60px 60px;
    background-position: top left;
    cursor: grab;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

img {
    width: 100%;
    height: 100%;
    cursor: grab;
    user-select: none;
    transition: scale 200ms ease-out;
    -webkit-user-drag: none;
    position: relative;
}
img:not(.shift):not(.ctrl):not(.drag) {
    cursor: zoom-in;
}
img.shift:not(.ctrl):not(.drag), img.ctrl:not(.shift):not(.drag) {
    cursor: zoom-out;
}
body:has(img.drag), img.drag {
    cursor: grabbing;
}
img.reset {
    transition: none !important;
}

.bottom {
    position: fixed;
    top: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: start;
    align-items: end;
    pointer-events: none;
}
.bottom > * {
    pointer-events: all;
}
#controls {
    background-color: #363a4faa;
    backdrop-filter: blur(20px) saturate(300%);
    width: auto;
    padding: 5px;
    margin: 10px;
    border-radius: 50px;
}

button, input[type="text"] {
    border-radius: 50px;
    background-color: #181926aa;
    color: var(--text);
    border-width: 2px;
    border-style: solid;
    border-color: #b7bdf800;
    height: calc(100% - 7px);
    transition: scale 200ms ease, border-color 200ms ease, background-color 200ms ease;
    font-size: 1.5rem;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
    position: relative;
}

button:hover {
    cursor: pointer;
    scale: 1.05;
}

button:hover, input[type="text"]:hover {
    transition: scale 200ms ease, background-color 200ms ease;
    border-color: var(--accent);
    z-index: 1;
}

button:active {
    scale: .95;
}

.spacer {
    margin-left: 5px;
    margin-right: 5px;
}

.hidden {
    display: none;
}

.first {
    border-radius: 0 !important;
    border-top-left-radius: 25px !important;
    border-bottom-left-radius: 25px !important;
}
.last {
    border-radius: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}