body {
    background-color: rgb(24, 24, 24);
}
.display {
    cursor: default;
    font-family: sans-serif;
    font-size: 3vh;
    transition: all 200ms cubic-bezier(0,1,1,1);
    color: white;
}

#title {
    font-size: 4vh;
    text-align: center;
}

#projects {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 75vh;
}

.project {
    width: 8vw;
    height: 8vw;
}

.project, .project div .project button {
    margin-left: 1vw;
    cursor: pointer;
    transition: all 200ms cubic-bezier(0,1,1,1);
}

#projects div button {
    text-align: center;
    color: white;
    cursor: pointer;
    border: 0;
    background-color: rgba(0, 0, 0, 0.75);
    font-size: 1.1vw;
    border-radius: 0;
    position: absolute;
    margin-top: 6.7vw;
    width: 8vw;
    height: 1.3vw;
    line-height: 1.1vw;
}

.project:hover {
    scale: 1.1;
}

.project:active {
    scale: .9;
}
